In [19]:
import pandas as pd
import numpy as np
from typing import Counter

In [20]:
processed_data=pd.read_csv("/Users/nidhiagrawal/Desktop/Assignments/MastersProject/Github/Masters_Project/IoTa/logs/generated_files/processed_data.csv")
addresses_data=pd.read_csv("/Users/nidhiagrawal/Desktop/Assignments/MastersProject/Github/Masters_Project/IoTa/logs/generated_files/unique_addresses.csv")

In [21]:
processed_data.head()

,transaction_id,input_addresses_x,input_amounts_x,output_addresses_y,output_amounts_y,datetime,num_input_addresses,num_output_addresses,sum_input_amounts,sum_output_amounts,id_input_addresses_x,id_output_addresses_y,tx_unique_id
0,0ec6a72cc70eaaf4f692a394287afec9749be074a90b5f...,['02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d...,[1998896.0],['02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d...,"[1998895, 1]",2021-05-04 18:10:29,1,2,1.998896e+06,1.998896e+06,[0],"[0, 1]",0
1,bd8c7523cdb25bcb5cec1928a9809352114d615f723a1c...,['02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d...,[1996443.0],['02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d...,"[1996442, 1]",2021-05-08 18:25:19,1,2,1.996443e+06,1.996443e+06,[0],"[0, 1]",1
2,1a7ef60419d3fbe22fa2fb2d73c9db8c571ce4f9fe393e...,['02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d...,[1996418.0],['02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d...,"[1996417, 1]",2021-05-08 18:33:49,1,2,1.996418e+06,1.996418e+06,[0],"[0, 1]",2
3,0ec32929c3422e6cd2f4cbf14875f438900e8848b6d1ff...,['8ca740d1e9fc980a4597f0b07ca973eb19001fb2888c...,[6845082772.0],['1d5b9174eaf4ef0231958b30aee0e31279417b0be1c0...,"[6000000000, 845082772]",2021-05-02 18:13:59,1,2,6.845083e+09,6.845083e+09,[2],"[3, 4]",3
4,d7ac224714bccd3e95bb63e9c847955be4bc58a079d4b9...,['50dd8cde25d109cceb064e8946b2fe32f7265b54b0c0...,[12000000.0],['c521900df5c7e5fa25e5ebbb0d913f109e4dce438082...,[12000000],2021-04-29 17:10:47,1,1,1.200000e+07,1.200000e+07,[5],[6],4

In [22]:
processed_data=processed_data[["tx_unique_id","id_input_addresses_x","id_output_addresses_y","input_amounts_x","output_amounts_y"]]
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9057 entries, 0 to 9056
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tx_unique_id           9057 non-null   int64
 1   id_input_addresses_x   9057 non-null   object
 2   id_output_addresses_y  9057 non-null   object
 3   input_amounts_x        9057 non-null   object
 4   output_amounts_y       9057 non-null   object
dtypes: int64(1), object(4)
memory usage: 353.9+ KB

In [23]:
processed_data.head()

,tx_unique_id,id_input_addresses_x,id_output_addresses_y,input_amounts_x,output_amounts_y
0,0,[0],"[0, 1]",[1998896.0],"[1998895, 1]"
1,1,[0],"[0, 1]",[1996443.0],"[1996442, 1]"
2,2,[0],"[0, 1]",[1996418.0],"[1996417, 1]"
3,3,[2],"[3, 4]",[6845082772.0],"[6000000000, 845082772]"
4,4,[5],[6],[12000000.0],[12000000]

In [24]:
processed_data["id_input_addresses_x"]=processed_data["id_input_addresses_x"].apply(eval)
processed_data["id_output_addresses_y"]=processed_data["id_output_addresses_y"].apply(eval)
processed_data["input_amounts_x"]=processed_data["input_amounts_x"].apply(eval)
processed_data["output_amounts_y"]=processed_data["output_amounts_y"].apply(eval)

In [25]:
addresses_data.head()

,addresses,addresses_id,addrs_in_ip_tx_id,addrs_in_op_tx_id
0,02b0ab655312f42e7bf52d84e6230ef425b3ac77e64d6e...,0,"[0, 1, 2, 6, 10, 11, 12, 18, 19, 20, 21, 23, 2...","[0, 1, 2, 6, 10, 11, 12, 18, 19, 20, 21, 23, 2..."
1,e40876d7c952eaadec3d60fac91fb275410d678dcec423...,1,"[5, 2053, 2055, 15, 16, 6160, 8211, 4121, 6169...","[0, 1, 2, 5, 6, 10, 11, 12, 15, 16, 18, 19, 20..."
2,8ca740d1e9fc980a4597f0b07ca973eb19001fb2888c24...,2,[3],[785]
3,1d5b9174eaf4ef0231958b30aee0e31279417b0be1c0f0...,3,[],"[785, 3]"
4,3f039e1593f05b83eacbc87288031d714b804d06a1ee75...,4,[],[3]

In [26]:
addresses_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4580 entries, 0 to 4579
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   addresses          4580 non-null   object
 1   addresses_id       4580 non-null   int64
 2   addrs_in_ip_tx_id  4580 non-null   object
 3   addrs_in_op_tx_id  4580 non-null   object
dtypes: int64(1), object(3)
memory usage: 143.2+ KB

In [27]:
addresses_data["addrs_in_ip_tx_id"]=addresses_data["addrs_in_ip_tx_id"].apply(eval)
addresses_data["addrs_in_op_tx_id"]=addresses_data["addrs_in_op_tx_id"].apply(eval)

In [28]:
addresses_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4580 entries, 0 to 4579
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   addresses          4580 non-null   object
 1   addresses_id       4580 non-null   int64
 2   addrs_in_ip_tx_id  4580 non-null   object
 3   addrs_in_op_tx_id  4580 non-null   object
dtypes: int64(1), object(3)
memory usage: 143.2+ KB

In [29]:
segregated_iota=pd.read_csv("/Users/nidhiagrawal/Desktop/Assignments/MastersProject/Github/Masters_Project/IoTa/logs/generated_files/segregated_iota.csv")

In [30]:
segregated_iota.head()

,tx_unique_id,id_input_addresses_x,id_output_addresses_y,input_amounts_x,output_amounts_y,datetime,num_input_addresses,num_output_addresses,sum_input_amounts,sum_output_amounts,count_repeat_pair,h0,h1
0,0,0,1,1.998896e+06,1,2021-05-04 18:10:29,1,2,1.998896e+06,1.998896e+06,5186,0,0
1,1,0,1,1.996443e+06,1,2021-05-08 18:25:19,1,2,1.996443e+06,1.996443e+06,5186,0,0
2,2,0,1,1.996418e+06,1,2021-05-08 18:33:49,1,2,1.996418e+06,1.996418e+06,5186,0,0
3,3,2,3,6.845083e+09,6000000000,2021-05-02 18:13:59,1,2,6.845083e+09,6.845083e+09,1,0,0
4,3,2,4,6.845083e+09,845082772,2021-05-02 18:13:59,1,2,6.845083e+09,6.845083e+09,1,0,0

In [31]:
#Heuristics0
# for index,(input,output) in enumerate(zip(segregated_iota["id_input_addresses_x"],segregated_iota["id_output_addresses_y"])):
#     if (len(addresses_data[addresses_data["addresses_id"]==output]["addrs_in_ip_tx_id"])==0):
#     #if output not in add_map_tx.keys():
#         segregated_iota.loc[index,"h0"]=0
#         #df.loc[index,"wh0"]=0
#     else:
#         if (len(set(addresses_data[addresses_data["addresses_id"]==input]["addrs_in_ip_tx_id"].item()).intersection(addresses_data[addresses_data["addresses_id"]==output]["addrs_in_ip_tx_id"].item()))!=0):
#         #if (len(add_map_tx[input].intersection(add_map_tx[output]))!=0):
#             segregated_iota.loc[index,"h0"]=1
#             #df.loc[index,"wh0"]=len(add_map_tx[input].intersection(add_map_tx[output]))
#         else:
#             segregated_iota.loc[index,"h0"]=0
#             #df.loc[index,"wh0"]=0

In [32]:
segregated_iota["h0"].value_counts()

0    10195
1       43
Name: h0, dtype: int64

In [33]:
from itertools import count

class Heuristics:

    _ids=count(0)

    def __init__(self,input,output,address_data,raw_data):
        self.input=input
        self.output=output
        self.address_data=address_data
        self.raw_data=raw_data
        self.id = next(self._ids)
        # self.raw_data["id_input_addresses_x"]=self.raw_data["id_input_addresses_x"].apply(eval)
        # self.raw_data["id_output_addresses_y"]=self.raw_data["id_output_addresses_y"].apply(eval)
        # self.raw_data["input_amounts_x"]=self.raw_data["input_amounts_x"].apply(eval)
        # self.raw_data["output_amounts_y"]=self.raw_data["output_amounts_y"].apply(eval)
        
    def heuristic0(self):
        if (len(self.address_data[self.address_data["addresses_id"]==self.output]["addrs_in_ip_tx_id"])==0):
        #if output not in add_map_tx.keys():
            #segregated_iota.loc[((segregated_iota["id_input_addresses_x"]==input) & (segregated_iota["id_output_addresses_y"]==output)) | ((segregated_iota["id_input_addresses_x"]==output) & (segregated_iota["id_output_addresses_y"]==input)),"h0"]=0
            #df.loc[index,"wh0"]=0
            return 0
        else:
            if (len(set(self.address_data[self.address_data["addresses_id"]==self.input]["addrs_in_ip_tx_id"].item()).intersection(self.address_data[self.address_data["addresses_id"]==self.output]["addrs_in_ip_tx_id"].item()))!=0):
            #if (len(add_map_tx[input].intersection(add_map_tx[output]))!=0):
                #segregated_iota.loc[((segregated_iota["id_input_addresses_x"]==input) & (segregated_iota["id_output_addresses_y"]==output)) | ((segregated_iota["id_input_addresses_x"]==output) & (segregated_iota["id_output_addresses_y"]==input)),"h0"]=1
                #df.loc[index,"wh0"]=len(add_map_tx[input].intersection(add_map_tx[output]))
                return 1
            else:
                #segregated_iota.loc[((segregated_iota["id_input_addresses_x"]==input) & (segregated_iota["id_output_addresses_y"]==output)) | ((segregated_iota["id_input_addresses_x"]==output) & (segregated_iota["id_output_addresses_y"]==input)),"h0"]=0
                #df.loc[index,"wh0"]=0
                return 0

    def heuristic1(self):
        transaction_list=set(self.address_data[self.address_data["addresses_id"]==self.input]["addrs_in_ip_tx_id"].item()).intersection(self.address_data[self.address_data["addresses_id"]==self.output]["addrs_in_op_tx_id"].item())
        for transaction in transaction_list:
            #condition 1- (for a single input address), multiple output add---- output amount has to be less than all the input amounts.
            #if (len(tranId_to_inpadd[transaction])==1 and len(tranId_to_outadd[transaction])>1):
            if (len(self.raw_data[self.raw_data["tx_unique_id"]==transaction]["id_output_addresses_y"].item())>1 and len(self.raw_data[self.raw_data["tx_unique_id"]==transaction]["id_input_addresses_x"].item())>1):
                #if output amount is the smallest of all amounts and less than the smallest input amount
                if (self.output==(sorted(self.raw_data[self.raw_data["tx_unique_id"]==transaction]["output_amounts_y"].item())[0]) and self.output<(sorted(self.raw_data[self.raw_data["tx_unique_id"]==transaction]["input_amounts_x"].item())[0])):   #smaller than the least input amount    
                    #condition2- remove the output addresses which have same amounts listed two or more times in the output
                    if (Counter(self.raw_data[self.raw_data["tx_unique_id"]==transaction]["output_amounts_y"].item())[self.output]==1):
                        #segregated_iota.loc[((segregated_iota["id_input_addresses_x"]==self.input) & (segregated_iota["id_output_addresses_y"]==self.output)) | ((segregated_iota["id_input_addresses_x"]==self.output) & (segregated_iota["id_output_addresses_y"]==self.input)),"h1"]=1
                        return 1
                        #break
                    else:
                        return 0
                else:
                    #segregated_iota.loc[((segregated_iota["id_input_addresses_x"]==self.input) & (segregated_iota["id_output_addresses_y"]==self.output)) | ((segregated_iota["id_input_addresses_x"]==self.output) & (segregated_iota["id_output_addresses_y"]==self.input)),"h1"]=0
                    return 0
            else:
                #segregated_iota.loc[((segregated_iota["id_input_addresses_x"]==self.input) & (segregated_iota["id_output_addresses_y"]==self.output)) | ((segregated_iota["id_input_addresses_x"]==self.output) & (segregated_iota["id_output_addresses_y"]==self.input)),"h1"]=0
                return 0

    def implement_heuritsics(self,segregated_iota):
        segregated_iota.loc[self.id,"h0"]=self.heuristic0()
        segregated_iota.loc[self.id,"h1"]=self.heuristic1()
        return

In [34]:
segregated_iota.apply(lambda x: Heuristics(x.id_input_addresses_x, x.id_output_addresses_y,addresses_data,processed_data).implement_heuritsics(segregated_iota), axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
10233    None
10234    None
10235    None
10236    None
10237    None
Length: 10238, dtype: object

In [35]:
segregated_iota["h1"].value_counts()

0    10232
1        6
Name: h1, dtype: int64

In [36]:
segregated_iota.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10238 entries, 0 to 10237
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tx_unique_id           10238 non-null  int64
 1   id_input_addresses_x   10238 non-null  int64
 2   id_output_addresses_y  10238 non-null  int64
 3   input_amounts_x        10238 non-null  float64
 4   output_amounts_y       10238 non-null  int64
 5   datetime               10238 non-null  object
 6   num_input_addresses    10238 non-null  int64
 7   num_output_addresses   10238 non-null  int64
 8   sum_input_amounts      10238 non-null  float64
 9   sum_output_amounts     10238 non-null  float64
 10  count_repeat_pair      10238 non-null  int64
 11  h0                     10238 non-null  int64
 12  h1                     10238 non-null  int64
dtypes: float64(3), int64(9), object(1)
memory usage: 1.0+ MB

In [37]:
segregated_iota["h0"].value_counts()

0    10195
1       43
Name: h0, dtype: int64